@model IEnumerable<probnik.Data.Photos>
@using System.Security.Claims;
@using probnik.Data;
@{
    ViewBag.Title = "Все пользователи";
    var albumm = ViewBag.Albums as List<Albums>;
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<style>
    .vcenter {
        display: inline-block;
        float: none;
        vertical-align: middle;
        text-align: center;
        margin: 20px 0px 10px 0px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    @@media (max-width:400px) {
        .popup img {
            width: 300px;
            height: 350px;
        }

        img {
            width: 60px;
            height: 60px;
        }

        .popup {
            width: 330px;
            height: 450px;
        }

        .sizee img {
            width: 80px;
            height: 80px;
        }
    }

    @@media (max-width:700px) {
        .popup img {
            width: 290px;
            height: 290px;
        }

        img {
            width: 60px;
            height: 60px;
        }

        .popup {
            width: 330px;
            height: 360px;
        }

        .sizee img {
            width: 80px;
            height: 80px;
        }
    }
</style>

<div id="text">
    <br />
    @foreach (var item in Model)
    {
        <div class="vcenter">
            <ul class="products clearfix">
                <div id="example_@item.Id" display:block;">
                <li class="product-wrapper">
                    <div class="thumbnail">
                        <div class="sizee">
                            <a href="#win @item.Id"><img style="border-radius: 15px;" title="" src="data:video/mp4;base64,@(Convert.ToBase64String(item.Photo))" alt="" /></a>
                        </div>
                        <!-- Модальное окно №5 -->
                        <a href="#x" class="overlay" id="win @item.Id"></a>
                        <div class="popup" style="border-color:rgba(128, 128, 255,0.3)">
                            <p>Описание: @item.Title</p>
                            <br />
                            <img class="is-image" src="data:video/mp4;base64,@(Convert.ToBase64String(item.Photo))" alt="" /><p>
                                <div class="desk">
                                    <ul id="menu">
                                        <li></li>
                                </div>
                                <a class="close" style="top: 0%;right: 0%;border-radius: 18px;" title="Закрыть" href="#close"></a>
                        </div>
                        <div class="caption">
                            <h3>
                                <a href="#"></a>
                            </h3>
                            <p></p>
                        </div>
                    </div>
                        @if (User.IsInRole("admin") || User.IsInRole("editor"))
                        {
                <form asp-controller="Albums" asp-action="DeletePhotos" method="post" asp-route-id="@item.Id">
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Удалить" />
                    </div>
                </form>
                        }
                </li>
        </div>
        </ul>

    </div>
}

    <link rel="stylesheet" href="~/css/photo.css" />
