@using probnik.Data;
@using System.Security.Claims;
@model probnik.Data.Messages;
@{
    ViewBag.Title = "Сообщение";
    var message = ViewBag.Message as List<Messages>;
    var users = ViewBag.Users as List<User>;
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var only = User.Identity.Name;
    var name = ViewBag.Name;
    var Email = ViewBag.Email;
    //Правильные сообщения
    //@foreach (var i in message.Where(x => (x.id == mId && x.Fromm == only) || (x.Fromm == email && x.id == idd)).OrderBy(x => x.Date))
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body" name="msg">
            <div class="form-group col-md-5">
                <label>userId</label>
                <input type="text" name="id" id="id" value="@only" class="form-control" placeholder="Enter userId" required="" />
            </div>
            <div class="form-group col-md-5">
                <label>Message</label>
                <input type="text" name="Message" id="Message" class="form-control" placeholder="Enter Message" required="" />
            </div>
            <div class="form-group col-md-1">
                <div style="float: right; display:inline-block;">
                    <input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button">
                </div>
            </div>
        </div>
    </div><hr />
    <table id="tblMessages" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th align="left" class="productth">prostoId</th>
                <th align="left" class="productth">Message</th>
                <th align="left" class="productth">From</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script>

    $(function () {
        LoadData();
        $("#btnSave").click(function () {
            //alert("");
            var msg = {};
            msg.id = $("#id").val();
            msg.message = $("#Message").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("sendMessages")',
                data: '{msg: ' + JSON.stringify(msg) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                   // alert("Data has been added successfully.");
                    LoadData();
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
            return false;
        });
    });
    function LoadData() {
        $("#tblMessages tbody tr").remove();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("getMessages")',
            dataType: 'json',
            data: { idd: '' },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td class='prtoducttd'>" + item.prostoId + "</td>"
                        + "<td class='prtoducttd'>" + item.message + "</td>"
                        + "<td class='prtoducttd'>" + item.fromm + "</td>"
                    + "</tr>";
                    $('#tblMessages tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }
    </script>
}

<script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
