@using probnik.Controllers
@using System.Security.Claims;
@using probnik.Data
@model FriendsModel
@{
    var idd = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var mesages = ViewBag.Messages as List<Messages>;
    ViewBag.Title = "Тестовая страница";

}
<h2>Находится в стадии разработки</h2>
